<div class="" style="padding: 2em;"></div>

<div class="help">
<h1>Help</h1>

<div class="col-md-6">
<p> SONAR is a web based noise control system capable of managing a number of sensors spread along a wide area. SONAR has a simples yet ambitious objective: monitor, manage and control the sound levels in an environment or space defined by the user. Whatever you need, wherever you are, SONAR will ensure that you will know a single decibel is out the margins you defined. Simple to use and pleasurable to look at, this system is oriented to businesses and organizations that need a steady sound environment, be it a library or a recording studio. The system was built with Bosch’s XDK sensor in mind, but other sensor modules or even simulators can be used as well following a brief adaptation of the system. All problems and errors you find during usage should be reported to the development team for fixing. Help us help you, and be a part of making SONAR better.
”

</p>
</div>

</div>

<div class="" style="padding: 10em;"></div>