<!-- 
<div class="col-md-6 col-md-offset-4">
  	<%= image_tag("welcome.png", :alt => "welcome", :height => "400", :width => "400") %>

</div> -->

    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>WELCOME</h1>
                        <h3>Start Monitoring Now</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/map" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-map-marker"></i> <span class="network-name">Map</span></a>
                            </li>
                            <li>
                                <a href="/sensor/list" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-list"></i> <span class="network-name">Sensors</span></a>
                            </li>
                            <li>
                                <a href="/sensor/realtime" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-time"></i> <span class="network-name">Real Time</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
  </div>

   <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Map</h2>
                    <p class="lead">With SONAR you can control your environment as you see fit. You can visualise the locations of the connected sensors in a way that is both enjoyable and intuitive for the user. No need to search for coordinates, just find you sensors in the map that represents your environment. Your space, your sensors, your map.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("mapIco.jpg", :alt => "map", :class => "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sensors List</h2>
                    <p class="lead">SONAR is a network of machines that work for you, and as such they must all be accounted for at all times. You can find the sensors connected to the system in a simples list, making it easy to know what’s connected and working and what’s not. No more ambiguity in sensor usability. If it’s on the list, the machine is working for you, precisely as you want it to.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                     <%= image_tag("List.png", :alt => "Sensors List", :class => "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Real Time Readings</h2>
                    <p class="lead">SONAR is able to receive and display readings in real time from every sensor connected to its network. The user is able to visualize all the readings, everywhere, all the time. This allows users to more effectively control the environment they are managing, ensuring a swift response to changes in noise levels that would be harmful if not dealt with immediately.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("realTime.png", :alt => "real Time", :class => "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Need Help?</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="/help" class="btn btn-default btn-lg"> <span class="network-name">Help</span></a>
                        </li>
                        <li>
                            <a href="/contact" class="btn btn-default btn-lg"> <span class="network-name">Contact us</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
